psycopg2-binary
flask
flask-login
gunicorn
werkzeug
ultralytics>=8.4.50
lapx
torch
torchvision
torchaudio
opencv-python-headless
numpy
scikit-image
pyngrok
matplotlib
pillow
flask-cors
requests

reportlab
pandas
openpyxl
segmentation-models-pytorch
easyocr
